body {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
}

/*----------START bootstrap-datetimepicker-widget------------*/
.bootstrap-datetimepicker-widget.dropdown-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: none;
}

.bootstrap-datetimepicker-widget .btn {
    background: white;
    padding: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bootstrap-datetimepicker-widget .btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

    .bootstrap-datetimepicker-widget .btn-primary:hover {
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }

.bootstrap-datetimepicker-widget td span {
    width: 47px !important;
}

.bootstrap-datetimepicker-widget .separator {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    border: none !important;
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    width: 100% !important;
    font-weight: bold;
    font-size: 1.2em;
}

/*----------END bootstrap-datetimepicker-widget------------*/

.dataTables_processing {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 0.7;
    color: black;
    padding-top: 10px;
}

.div-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.jumptarget {
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
    z-index: 0;
    float: right;
}

#customer-header-table tr td:first-child {
    font-weight: bold;
}

.address {
    padding-right: 0;
    border-right: none;
}

    .address input[type="text"] {
        border: none;
        max-width: 130px;
    }

    .address select {
        float: right;
        margin: -7px 0;
        padding: 5px 3px;
    }

.box > .box-body.inline {
    padding-bottom: 0;
}

.form-group.boxed {
    margin-bottom: 15px;
    margin-right: 10px;
}

    .form-group.boxed > input {
        width: 270px;
    }

    .form-group.boxed > .date {
        width: 270px;
    }

@media (max-width: 768px) {
    .form-group.boxed > input {
        width: 100%;
    }

    .form-group.boxed > .date {
        width: 100%;
    }
}

.box .toolbox-tabbed {
    position: relative;
    margin: -10px;
    top: -27px;
    border-bottom: 1px solid #C4C4C4;
    padding: 5px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.box-title-button {
    margin-bottom: 5px; 
    margin-right: 10px;
}

.margin-bottom-1{
    margin-bottom: 1px;
}

/*Correct span displaying in IE*/ 
.dropdown-menu.notification .label.label-info {
    float: left;
}

.dropdown-menu.notification .label-warning {
    float: left;
}

.dropdown-menu.notification .message {
    padding: 2px;
    width: 230px;
}

.localization-links {
    color: #fff;
}

.banner{
    max-width:100%;
}
